@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter";
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    width: 100%;
    padding: 20px 0;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

section {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

main, aside {

    padding: 20px 20px;
    text-align: left;
}

main {
    background-color: rgb(216, 216, 216);
}

aside {
    background-color: rgb(189, 189, 189);
}

footer {
    
    padding: 20px 0;
    color: #ffffff;
    background-color: black;
}

@media (min-width: 600px) and (max-width: 900px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 901px) {
    header, footer {
        padding: 40px 0;
    }
    section {
        grid-template-columns: 2fr 1fr;
        padding: 10px 20px;
    }
    main, aside {
        padding: 10px 20px;
    }
}

